/*globals variables*/
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul {
  margin: 0px;
  padding: 0px;
}

.blue {
  color: #326891;
}

.gray {
  color: #666666;
}

.gray-light {
  color: #888888;
}

.paragraph-title {
  font-size: 20px;
  font-weight: bold;
}

.fig-caption-desc p {
  margin: 0;
  line-height: 1.1rem;
}

.margin-sections {
  margin: 8% 0;
}

.line-footer {
  border: 0.7px solid #e2e2e2;
}
/*globals variables*/

/* Navbar */

nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  padding: 1% 2%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
}

nav .left-icons {
  width: 16px;
  height: 16px;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 14.25px;
  font-weight: bold;
}

nav .logo {
  filter: invert(100%);
  width: 200px;
}
nav .right-side {
  display: flex;
  align-items: center;
}

nav .right-side .sub-button {
  background-color: #567b95;
  padding: 4%;
  color: white;
  font-size: 11px;
  width: 125px;
  border-radius: 3px;
}

nav .right-side .account-button {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  margin-left: 10%;
}

nav .right-side .account-button img {
  width: 20px;
  height: 20px;
}

/* Navbar */

/* HEADER */

header {
  display: grid;
  grid-template-columns: 1fr 945px 1fr;
  grid-template-rows: 96px 660px;
}

header #title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 30px;
  color: #121212;
  padding-left: 200px;
  font-family: "Lora", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bolder;
}

header #header_image {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 40px 0 10px 0;
}

header #header_image img {
  width: 945px;
  height: 531px;
}

.fig-caption-desc p {
  font-size: 15px;
}

.fig-caption-desc span {
  font-size: 13px;
}

/* HEADER */

/* Section */

.news {
  margin: 0 auto;
  width: 600px;
  position: relative;
}

.news #author {
  font-size: 15;
  font-weight: bolder;
}

.news #author span {
  text-decoration: underline;
}

.news #date {
  font-size: 13px;
}

.news #info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.news .social_icons {
  width: 40px;
  height: 36px;
}
.news .social_icons_2 {
  width: 50px;
  height: 36px;
}

.news #new_text {
  font-size: 20px;
  line-height: 1.875rem;
}
.footer-section {
  font-size: 12px;
  line-height: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.news .black-a {
  color: black;
}

/* Section */

/*editors pick- aside*/
aside .editors-pick {
  width: 40%;
  /* padding: 5%; */
  position: absolute;
  right: -45%;
  top: 999px;
}

.editors-pick {
  font-size: 14px;
}
.editors-pick .editors-pick-items {
  display: flex;
  align-items: center;
}

.editors-pick .editors-pick-items img {
  width: 75px;
  height: 75px;
}
.editors-pick .title-ed-pick {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.editors-pick .editors-pick-items p {
  margin: 13px 0 13px 13px;
}

/*editors pick- aside*/

/*susbcribe to NY Times*/
.subscribe-to {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.subscribe-to p {
  margin: 0;
  line-height: 1.3rem;
}
.subscribe-to .inside {
  text-align: center;
  margin: 20px 0;
}

.subscribe-to .inside a {
  text-decoration: none;
}

.subscribe-to hr {
  margin: 0 45%;
}
/*susbcribe to NY Times*/

/* Article */
#article-container {
  height: 850px;
  width: 945px;
  margin: 45px -30%;
}

article .paragraph-title {
  font-size: 20px;
}

article .desc-article {
  font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 320px);
  grid-gap: 15px;
  width: 945px;
}

.grid-container div {
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 17px;
}

.grid-container div img {
  width: 230px;
  height: 120px;
}

.grid-container div p span {
  font-size: 11px;
  font-weight: bolder;
}

.grid-container div p {
  font-size: 14px;
}

article hr {
  margin-right: 95%;
}

#article-author {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Article */

/*video section*/

.video-section iframe {
  border: 0;
}

/* video section*/

/*image-section*/
.image-section img {
  width: 600px;
  height: 400px;
}
/*image-section*/

/* Comments */

.read-comments-section {
  margin-top: 25px;
}

.read-comments-section .comments-b {
  float: left;
  color: white;
  background-color: #567b95;
  border: 0;
  border-radius: 3px;
  width: 330px;
  padding: 12px 0;
  font-size: 13px;
}

.read-comments-section img {
  float: right;
}

/* Comments */

/* Pre-Footer */
.title-span-rows {
  grid-column: span 3;
}

.title-span-rows hr {
  border: 0.7px solid black;
}
.pre-footer-main-container {
  display: grid;
  grid-template-columns: 840px 320px;
  /* grid-template-rows: 1100px; */
  /* height: 800px; */
  width: 1260px;
  clear: both;
  margin: 10% 3% 0;
  column-gap: 30px;
}
.pre-footer-main-container p {
  margin: 0;
}

.pre-footer-left-container {
  display: grid;
  grid-template-columns: repeat(3, 272px);
  grid-template-rows: 25px 20px repeat(2, 320px) 25px 20px repeat(1, 320px);
  grid-gap: 10px;
}

.pre-footer-left-container div img {
  height: 180px;
  width: 272px;
}

.pre-footer-right-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 20px 40px repeat(9, 80px);
  align-items: center;
  row-gap: 10px;
}

.pre-footer-main-container .pre-footer-titles {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.pre-footer-main-container figcaption {
  color: #999999;
  font-size: 10px;
  text-align: right;
}

.pre-footer-main-container .news-title {
  font-family: "Lora", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  margin: 7px 0;
}

.pre-footer-main-container .news-date {
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
  font-size: 12px;
}

/* right side- same prefooter */
.pre-footer-right-container div hr {
  border: 0.7px solid black;
}
.pre-footer-right-container .content-most-popular hr {
  border: 0.8px solid #e2e2e2;
  margin: 0 0 12px;
}

.pre-footer-right-container .content-most-popular p {
  font-family: "Lora", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #121212;
}

/* Pre-Footer */

/* Foooter */

.footer-main-container {
  display: grid;
  grid-template-rows: 25px 40px 300px;
  grid-template-columns: repeat(5, 1fr) 210px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 3% 1%;
}

.footer-main-container #span-line-footer {
  grid-column: span 6;
}

.footer-main-container #first-line {
  border: 2px solid #e2e2e2;
  margin: 0 0 1px;
}
.footer-main-container #second-line {
  border: 1px solid #e2e2e2;
  margin: 0;
}

.footer-main-container .small-logo {
  grid-column: span 5;
  filter: invert(100%);
  width: 190px;
  height: 35px;
}

.footer-main-container .home {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
  color: #567b95;
  font-size: 11px;
  text-align: right;
}

.footer-main-container .list li {
  list-style-type: none;
}

.footer-main-container .list li a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.footer-main-container .index {
  font-weight: bolder;
  font-size: 13px;
  color: #333333;
}

.footer-main-container .list .subscribe-top li a {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.footer-main-container .list .subscribe-bottom li a {
  font-size: 11px;
  color: black;
}

.footer-main-container .list .subscribe-bottom li {
  margin: 0;
}

.footer-main-container .list div li {
  margin-bottom: 10px;
}

.footer-main-container .footer-icon {
  height: 13px;
  width: 13px;
  margin-right: 6px;
}
.footer-main-container .subscribe-grid {
  border-left: 1px solid #e2e2e2;
  padding-left: 20px;
}

/*copyright*/

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0 3% 5%;
}

.copyright ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.copyright li {
  margin: 10px;
}

.copyright li a {
  color: #666666;
  text-decoration: none;
}

/* Foooter */
