/*globals variables*/
body {
  padding: 0;
  margin: 0;
}

.blue {
  color: #326891;
}

.gray {
  color: #666666;
}

.gray-light {
  color: #888888;
}

.paragraph-title {
  font-size: 20px;
  font-weight: bold;
}

.fig-caption-desc p {
  margin: 0;
  line-height: 1.1rem;
}
.margin-sections {
  margin: 8% 0;
}
/*globals variables*/

/* Navbar */

nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  padding: 1% 2%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
}

nav .left-icons {
  width: 16px;
  height: 16px;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 14.25px;
  font-weight: bold;
}

nav .logo {
  filter: invert(100%);
  width: 200px;
}
nav .right-side {
  display: flex;
  align-items: center;
}

nav .right-side .sub-button {
  background-color: #567b95;
  padding: 4%;
  color: white;
  font-size: 11px;
  width: 125px;
  border-radius: 3px;
}

nav .right-side .account-button {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  margin-left: 10%;
}

nav .right-side .account-button img {
  width: 20px;
  height: 20px;
}

/* Navbar */

/* HEADER */

header {
  display: grid;
  grid-template-columns: 1fr 945px 1fr;
  grid-template-rows: 96px 660px;
}

header #title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 30px;
  color: #121212;
  padding-left: 200px;
  font-family: "Lora", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bolder;
}

header #header_image {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 40px 0 10px 0;
}

header #header_image img {
  width: 945px;
  height: 531px;
}

.fig-caption-desc p {
  font-size: 15px;
}

.fig-caption-desc span {
  font-size: 13px;
}

/* HEADER */

/* Section */

.news {
  margin: 0 auto;
  width: 600px;
  position: relative;
}

.news #author {
  font-size: 15;
  font-weight: bolder;
}

.news #author span {
  text-decoration: underline;
}

.news #date {
  font-size: 13px;
}

.news #info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.news .social_icons {
  width: 40px;
  height: 36px;
}
.news .social_icons_2 {
  width: 50px;
  height: 36px;
}

.news #new_text {
  font-size: 20px;
  line-height: 1.875rem;
}

/* Section */

/*editors pick- aside*/
aside .editors-pick {
  width: 40%;
  /* padding: 5%; */
  position: absolute;
  right: -45%;
  top: 999px;
}

.editors-pick {
  font-size: 14px;
}
.editors-pick .editors-pick-items {
  display: flex;
  align-items: center;
}

.editors-pick .editors-pick-items img {
  width: 75px;
  height: 75px;
}
.editors-pick .title-ed-pick {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.editors-pick .editors-pick-items p {
  margin: 13px 0 13px 13px;
}
hr {
  color: #e2e2e2;
}
/*editors pick- aside*/

/*susbcribe to NY Times*/
.subscribe-to {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.subscribe-to p {
  margin: 0;
  line-height: 1.3rem;
}
.subscribe-to .inside {
  text-align: center;
  margin: 20px 0;
}

.subscribe-to .inside a {
  text-decoration: none;
}

.subscribe-to hr {
  margin: 0 45%;
}
/*susbcribe to NY Times*/

/* Article */
#article-container {
  height: 850px;
  width: 945px;
  margin: 45px -30%;
}

article .paragraph-title {
  font-size: 20px;
}

article .desc-article {
  font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 320px);
  grid-gap: 15px;
  width: 945px;
}

.grid-container div {
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 17px;
}

.grid-container div img {
  width: 230px;
  height: 120px;
}

.grid-container div p span {
  font-size: 11px;
  font-weight: bolder;
}

.grid-container div p {
  font-size: 14px;
}

article hr {
  margin-right: 95%;
}

#article-author {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Article */

/*video section*/

.video-section iframe {
  border: 0;
}

/* video section*/

/*image-section*/
.image-section img {
  width: 600px;
  height: 400px;
}
/*image-section*/
